@model txts.Pages.Layouts.PageLayout

<!DOCTYPE html>

<html lang="en-US">
<head>
    <title>Txts / @Model.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="theme-color" content="#ffd6f3">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Txts / @Model.Title">
    <meta name="description" content="@Model.Description">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://txts.sudokoko.xyz/">
    <meta property="og:title" content="Txts / @Model.Title">
    <meta property="og:description" content="@Model.Description">
    <link rel="stylesheet" type="text/css" href="/index.css"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
</head>
<body>
@if (Model.DisplayTitle)
{
    <header>
        <a href="/">Txts</a> / @Model.Title
    </header>
}
<main>
    <div class="primary-container">
        @RenderBody()
    </div>
</main>
</body>
</html>