@page "/admin"
@using txts.Types.Entities
@using txts.Types.Website
@model txts.Pages.Administration.AdminPage

@{
    Layout = "Layouts/PageLayout";

    Model.Title = "Site Administration";
}

<div>
    @switch (Model.Callback)
    {
        case "ban":
            @await Html.PartialAsync("Partials/MessagePartial", new MessageEntity("Administrative action processed", "The page was banned successfully.", MessageType.Success))
            break;
        case "unban":
            @await Html.PartialAsync("Partials/MessagePartial", new MessageEntity("Administrative action processed", "The page was unbanned successfully.", MessageType.Success))
            break;
        case "verify":
            @await Html.PartialAsync("Partials/MessagePartial", new MessageEntity("Administrative action processed", "The page was verified successfully.", MessageType.Success))
            break;
        case "unverify":
            @await Html.PartialAsync("Partials/MessagePartial", new MessageEntity("Administrative action processed", "The page was unverified successfully.", MessageType.Success))
            break;
        case "error":
            @await Html.PartialAsync("Partials/MessagePartial", new MessageEntity("Failed to process administrative action", "An error occurred while processing your request.", MessageType.Error))
            break;
    }

    <div class="secondary-container">
        <div style="display: flex; flex-direction: row;">
            <form action="/admin" method="POST">
                @Html.AntiForgeryToken()
                <input type="hidden" name="id" value="0"/>
                <button name="action" value="cleanSessions">Clean Up Sessions</button>
            </form>
            <form method="GET" action="/admin" style="margin-left: auto;">
                <input type="text" name="search" id="quick-actions-input" placeholder="Search pages and bans"/>
            </form>
        </div>
    </div>

    <div class="secondary-container">
        <span class="tb-padding">There are @Model.Pages.Count page(s) being displayed.</span>
        @if (Model.Pages.Count > 0)
        {
            <table>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Secret</th>
                    <th>Actions</th>
                </tr>
                @foreach (PageEntity pageEntity in Model.Pages)
                {
                    <tr>
                        <td>@pageEntity.PageId</td>
                        <td>
                            <a href="/@@@pageEntity.Username">@pageEntity.Username</a>
                        </td>
                        <td>
                            <small>@pageEntity.Secret</small>
                        </td>
                        <td>
                            <form action="/admin" method="POST">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="@pageEntity.PageId"/>
                                @switch (pageEntity.IsBanned)
                                {
                                    case false:
                                        <span>
                                            <button name="action" value="ban">ban</button>
                                        </span>
                                        break;
                                    case true:
                                        <span>
                                            <button name="action" value="unban">unban</button>
                                        </span>
                                        break;
                                }
                                @switch (pageEntity.IsVerified)
                                {
                                    case false:
                                        <span>
                                            <button name="action" value="verify">verify</button>
                                        </span>
                                        break;
                                    case true:
                                        <span>
                                            <button name="action" value="unverify">unverify</button>
                                        </span>
                                        break;
                                }
                            </form>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
    <div class="secondary-container">
        <span class="tb-padding">There are @Model.Bans.Count ban(s) being displayed.</span>
        @if (Model.Bans.Count > 0)
        {
            <table>
                <tr>
                    <th>ID</th>
                    <th>Page</th>
                    <th>Username</th>
                    <th>Reason</th>
                </tr>
                @foreach (BanEntity banEntity in Model.Bans)
                {
                    <tr>
                        <td>@banEntity.BanId</td>
                        <td>@banEntity.PageId</td>
                        <td>@banEntity.Page.Username</td>
                        <td>@banEntity.Reason</td>
                    </tr>
                }
            </table>
        }
    </div>
</div>